@import url('Fonts/GillSans/font.css');
.main_menu_bg_m {
    display: none;
}
.main_menu_bg
{
	float:right;	
	margin:-1px 0 0 0;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav .menu_item 
{
    /*position: absolute;*/
    float:right;
	/*position: relative;
	display: inline-block;*/
	margin: 16px 0 16px 32px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	/*letter-spacing: 1px;*/
	/*font-weight: 400;*/
	/*text-shadow: 0 0 1px rgba(255,255,255,0.3);*/	
	font-family:'gillsansregular';	
	font-size: 15px;      
    -webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	color: #FFF;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	padding: 8px 0;
	
}
nav .menu_item a
{
    position: relative;
    display: block;
    z-index: 199;
    /*background: #008080;*/
    height: 45px;
}
nav a:focus, nav a:hover, nav a.selected{
	outline: none;
	color:#fff;	
}
/* Effect 13: three circles */
/*.cl-effect-17 .menu_item {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	color: #FFF;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	padding: 8px 0;
	float:right;	
}*/

.cl-effect-17 a::before {
	position: absolute;
	top: 18%;
	left: 50%;
	color: transparent;
	content: '_';
	text-shadow: 0 0 transparent;
	font-size: 1.5em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
	
}

.cl-effect-17 a:hover::before,
.cl-effect-17 a:focus::before,
.cl-effect-17 a.selected:before,
.parent_menu_item:hover a::before
{
	color: #fff;
	text-shadow: 5px 0 #fff, -5px 0 #fff;
	/*color:#f4811f;
	text-shadow:5px 0 #f4811f, -5px 0 #f4811f;*/
	/*text-shadow: 0 0 1px rgba(255,255,255,0.6), 0 0 6px rgba(255,255,255,1);*/
}
rgba(0,102,179,0.60)
.cl-effect-17 a:hover,
.cl-effect-17 a:focus,
.cl-effect-17 a.selected {
	color:#fff;
}
.sub_menu_bg {
    position: absolute;
    width: 100%;
    height: 46px;
    background: #FDD122;
    /*background-image:url(../Images/header_bg.png);*/
    left: 0;
    top:72px;
    z-index: 100;
    display: none;
    overflow: hidden;  
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.35); 
}
.sub_menu_item_bg 
{
    float: left;
}
.sub_menu_bg a{
    float: left;
    text-transform: none;
    margin: 12px 15px;
    height: 23px !important;
    color: #fff;
    font-size: 14px;
    text-shadow: 0 0 1px rgba(0,102,179,0.1);
}
/*.sub_menu_bg a::first-letter 
{
    text-transform: uppercase;
}*/
.sub_menu_bg a:hover
{
    /*color: #F58220;
    text-shadow: none;*/
    border-bottom: 1px solid rgba(255,255,255,0.68);
}
.sub_menu_bg a::before
{
    display: none;
}
/*.sub_menu_item_bg {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #0066B3;
    /*display: none;!1!
}*/

/*chèn*/
.menu{
	float:right;	
	margin:-1px 0 0 0;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.menu ul a::before{
	position: absolute;
	top: 18%;
	left: 50%;
	color: transparent;
	content: '_';
	text-shadow: 0 0 transparent;
	font-size: 1.5em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}
.menu ul a:hover::before,
.menu ul a:focus::before,
.menu ul a.selected:before,
.parent_menu_item:hover a::before
{
	color: #fff;
	text-shadow: 5px 0 #fff, -5px 0 #fff;
	/*color:#f4811f;
	text-shadow:5px 0 #f4811f, -5px 0 #f4811f;*/
	/*text-shadow: 0 0 1px rgba(255,255,255,0.6), 0 0 6px rgba(255,255,255,1);*/
}

.menu ul a:hover,
.menu ul a:focus,
.menu ul a.selected {
	color:#fff;
}
.menu ul li{
	/*position: absolute;*/
    float:right;
	/*position: relative;
	display: inline-block;*/
	margin: 16px 0 16px 32px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	/*letter-spacing: 1px;*/
	/*font-weight: 400;*/
	/*text-shadow: 0 0 1px rgba(255,255,255,0.3);*/	
	font-family:'gillsansregular';	
	font-size: 15px;      
    -webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	color: #FFF;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	padding: 8px 0;
	list-style-type: none;
}
.menu ul li a{
	position: relative;
    display: block;
    z-index: 199;
    /*background: #008080;*/
    height: 45px;
}