#main-body{
	margin-top: 72px;
}
@media (max-width: 768px) {
	#main-body{
		margin-top: 48px;
	}
}
.wonderpluginslider-container{
	max-width: 100% !important;
}
.amazingslider-title-1{
	position: absolute;
    cursor: pointer;
    width: 250px;
    height: 80px;
    right: 0px;
    top: 0%;
    padding: 30px 30px;
    color: #fff !important;
    background: rgba(249, 207, 2, 0.6) !important;
    opacity: 0.8;
}
.amazingslider-bottom-shadow-1{
    display: none !important;
}
.amazingslider-text-wrapper-1{
    position: absolute;
    top: 30%;
    left: 20% !important;
}
.page_content_detail img{
	width: 100%;
    height: auto;
    display: block;
    margin: 0;
    float: none;
}
.title{
	color: #F58220;
}
@media (max-width: 767px) {
    .detail-info{
        padding-left: 60px;
    }
}
@media (max-width: 767px) {
    .amazingslider-title-1{
        display: none !important;
    }
    .amazingslider-description-1{
        display: none !important;
    }
    .amazingslider-button-1{
        display: none !important;
    }
    .project_menu {
        display: none;
    }
}

 /*slider chinh sua ngay 18-7*/
.amazingslider-nav-container-7 {
    display:none !important;
}

