@import url('fonts/font.css');
/*@import url('Fonts/UVNGiongSong/font.css');
@import url('Fonts/Weather/font.css');*/

/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	outline: 0 none;
	margin: 0 auto;
    padding: 0;
    border: 0 none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
strong{
	color:#333;
    font-weight: bold;
	/*text-shadow: 0 0 1px #8D9B9B;*/
}
em {
    font-style: italic;
}
/*span{
	font-weight:bold;
}*/
/*h1, h2, h3, h4, h5, h6 {	color: #fff; font-weight: bold;	text-shadow: 1px 1px 0px #000;}*/
h5{
	font-size: 14px; margin-bottom:8px;
}
a{
	/*color:#FFF;*/
	color: #0066b3;
	text-decoration:none;
    cursor: pointer;
}
a:hover{
	text-decoration:none;
	/*color:#FFF;*/
	color: #00aeef;
	/*text-shadow: 0 0 1px rgba(255,255,255,0.5), 0 0 6px rgba(255,255,255,0.5);*/
}
a:active
{
    text-decoration:none;
}
body{
	margin:0px auto;
	font: 13px/20px 'Arial';
	background:#fff;
	color:#686868;	
	
}
body:after{
    display:none;
    content: url(../images/Icons/facebook_hover.png)  url(../images/Icons/google_hover.png) url(../images/Icons/youtube_hover.png);
}
.col_no_padding{
	padding:0 !important;
}
.row_no_padding [class*='col-']{
	padding:0;
}
/*.body_bg a{
    color: #0066b3;
}
.body_bg a:hover{
    color: #00aeef;
}*/
/*=============================================Header Panel=============================================*/
.header_bg{
	position:relative;
}
.header_bg a
{
    color: #fff;
}
.support_online_bg{
	position:relative;
	width:100%;
	height:36px;
	top:0;
	background:#FFF;
	z-index:100;
}
.support_online_bg{
	font-size:13px;
	font-family: 'gillsansregular';
}
.support_online_bg a{
	color:#878787;
	text-shadow: 0 0 1px rgba(136,136,136,0.1);
}
.support_online_bg a:hover{
	color:#00AEEF;
	background-position:0 -16px;
}
.hot_phone{
	float:left;
	height:16px;
	background:url(../images/Icons/phone.png) no-repeat 0 0;
	margin-top:10px;
	padding-left:22px;
	line-height:14px;
	padding-right:12px;
	border-right: 1px solid #ddd;
}
.hot_mail{
	float:left;
	height:16px;
	background:url(../images/Icons/email.png) no-repeat 0 0;
	margin-top:10px;
	padding-left:22px;
	margin-left:12px;
	line-height:13px;
	padding-right:12px;
	border-right: 1px solid #ddd;
}
.support{
	float:left;
	height:16px;
	margin-left:12px;
	margin-top:9px;
}
.support a{
	float:left;
	width:18px;
	height:18px;	
	margin-right:8px;
	-webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.support .facebook{	
	background:url(../images/Icons/facebook.png) no-repeat;	
}
.support .google{	
	background:url(../images/Icons/google.png) no-repeat;	
}
.support .twitter{	
	background:url(../images/Icons/twitter.png) no-repeat;	
}
.support .skype{	
	background:url(../images/Icons/skype.png) no-repeat;		
}
.support .youtube{	
	background:url(../images/Icons/youtube.png) no-repeat;		
}
.support a:before{
	float:left;
	width:18px;
	height:18px;
	background:#C35E60;
	/*background:url(../images/Icons/skype.png) no-repeat 0 -18px;*/
}
.support a:hover{	
	background-position:0 0;
	opacity:1;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}
.facebook:hover{
	background:url(../images/Icons/facebook_hover.png) no-repeat;
}
.google:hover{
	background:url(../images/Icons/google_hover.png) no-repeat;
}
.twitter:hover{
	background:url(../images/Icons/twitter_hover.png) no-repeat;
}
.skype:hover{
	background:url(../images/Icons/skype_hover.png) no-repeat;
}
.youtube:hover{
	background:url(../images/Icons/youtube_hover.png) no-repeat;
}
.lang_menu_bg a{
	float:right;
	margin:7px 0 0 0; 
	font-size:10px;
	color:#878787;
	text-transform:uppercase;
}
.lang_menu_bg a span{
    float: left;
    width: 14px;
    height: 9px;
    margin:6px 6px 0 10px;
}
.lang_menu_bg .vi span{
	background: url(../images/Icons/lang_icon.png) no-repeat 0 -27px;
}
.lang_menu_bg .vi:hover span{
	background-position:0 -36px;
}
.lang_menu_bg .vi:active span{
	background-position:0 -45px;
}

.lang_menu_bg .en span{
	background: url(../images/Icons/lang_icon.png) no-repeat 0 0;
}
.lang_menu_bg .en:hover span{
	background-position:0 -9px !important;
}
.lang_menu_bg .en:active span{
	background-position:0 -18px !important;
}
.search_bg{
	float:right;
	width:200px;
	height:30px;
	margin-top:3px;	
	border: 1px solid #CCC;
    border-radius: 30px;
}
.search_tf{
	float:left;
	margin-left:15px;
	width:150px;
	margin-top:2px;
	font-size:12px;
	/*font-family: 'gillsansregular';*/
	color:#878787;
	border:none;
	outline:none;
	/*font-style:italic;*/
}
.search_btn{
	float:right;
	width:14px;
	height:14px;
	background:url(../images/Icons/search_btn.png) no-repeat;
	margin-top:7px;
	margin-right:10px;	
}
.search_btn:hover{
	background-position: 0px -14px;	
}
.search_btn:active{
	background-position: 0px -28px;	
}
.home_menu_bg{
	position:absolute;
	width:100%;
	/*background:rgba(0,102,179,0.68);*/	
	/*background-color:rgba(0,102,179,1);*/
	/*background-image:url(../images/header_bg.png);*/
	background: #FDD122 !important;
	background-repeat:repeat-x;
	height:72px;
	z-index:200;
	-webkit-transition: height 500ms, border 500ms linear;
    -moz-transition: height 500ms, border 500ms linear;
    -o-transition: height 500ms, border 500ms linear;
    -ms-transition: height 500ms, border 500ms linear;
    transition: height 500ms, border 500ms linear;
	border-bottom:3px solid rgba(245,130,32,1);
}
.home_menu_bg::before{
  
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.logo
{
    position: absolute;
    z-index: 999;
	float:left;
	/*width:105px;
	height:60px;*/
	margin:5px 0 0 0;
    cursor: pointer;
}
.text-logo{
	font-size: 25px;
	font-family: 'gillsansregular';
	line-height: 55px;
	display: block;
	float: right;
	margin-left: 10px;
}
.text-logo_m{
	font-size: 18px;
	font-family: 'gillsansregular';
	line-height: 32px;
	display: block;
	float: right;
	margin-left: 7px;
}
.logo img{
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
	height:auto;	
}
/*.crossbar{
	position:absolute;
	width:100%;
	top:112px;
	background:rgba(245,130,32,0.60);
	height:3px;
	z-index:100;
}*/
/*.home_title_bg{
	position:absolute;
	top:60%;
	left:0;
	right:0;
	z-index:100;
}
.home_title_01{
	position:absolute;
	height: 58px;
	margin-left: 14px;
	font-size:32px;
	font-family: 'gillsansregular';
	background: rgba(0,102,179,0.60);
	text-transform: uppercase;
	padding: 17px 18px 16px 18px;
}
.slogan{
	float:left;
	height: 32px;
	margin-left: 14px;
	margin-top: 61px;
	font-size:14px;
	font-family: 'gillsansregular';
	background: rgba(0,174,239,0.68);
	text-transform: uppercase;
	padding: 5px 12px 14px 11px;
}
.button_readmore{
	float:left;
	height: 32px;
	margin-left: 2px;
	margin-top: 61px;
	font-size:13px;
	font-family: 'gillsansregular';
	background: rgba(244,124,22,0.68);
	text-transform: uppercase;
	padding: 5px 29px 14px 12px;
}
.button_readmore span{
	position:absolute;
	width: 14px;
	height: 14px;
	margin-top:4px;
	margin-left: 4px;
	background:url(../images/Icons/readmore.png) no-repeat;
}*/
/*=============================================Body Panel=============================================*/
.body_bg{
	background:#F9F9F9;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
	/*padding: 45px 0 0 0;*/
}
.background_white{
	background:#FFF;
}
.home_slider{
	position:relative;
	top: -35px;
	z-index: 0;
	/*margin-top:-136px;
	height: 100%*/	
	/*background:#D7787A;*/
}
/*.slider_mask {
	position:fixed;
    z-index: 0;
	top:0;
	left:0;
    width: 100%;
    height: 100%;
    background:url(../images/Mask/square.png);
    /*filter: alpha(opacity=20);!1!
    /*opacity: 0.8;!1!
    /*display: none;!1!
}*/
.page_bg{
	margin-top:36px;	
}
.home_project_carousel 
{
    float: left;
    overflow: hidden;
    margin-top: 15px;
}
.home_project_item_bg{
	/*position: relative;*/
	overflow:hidden !important;
	/*margin-bottom: 45px;*/
	/*background:none !important;*/
}
.project_item_img{
	position:relative;
	width:100%;
}
.project_item_img img{
	display:inline-block;
	width:100%;
	height:225px;
	object-fit: cover;
}
.d-flex{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
/*.project_item_img a{
	position:absolute;
	font-size:14px;
	font-family: 'gillsansregular';
	text-transform: uppercase;
	padding: 10px 0 0 18px;
}*/
.project_item_title{
	position:absolute;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
	font-size:14px;
	font-family: 'gillsansregular';
	text-transform: uppercase;
	/*padding: 10px 0 0 18px;*/
	padding:0 0 4px 16px;
	width: 100%;
	height: 44px;
	margin-top:-44px;
	background: #FDD122;
	display:-moz-box;
	-moz-box-align:center;
	display:-webkit-box;
	-webkit-box-align:center;
	display:box;
	box-align:center;
	text-shadow: 0px 0px 1px rgba(255,255,255,0.3);
	color: #fff;
}
.project_item_title:hover{
	text-shadow: 0px 0px 1px rgb(255,255,255);
}
.project_item_content
{
    position: relative;
    height: auto;
	width: 100%;
	background:#FFF;    
    overflow: hidden;
	/*text-align:justify;*/
	padding: 12px 16px 18px 16px;
	/*min-height: 125px;*/
}
.project_item_content div
{
    height: 100px;
    overflow: hidden;
}
/*.nbs-flexisel-ul {
    position:relative;
	margin-top:350px;
    list-style-type:none;   
}
.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    background:#fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%);
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee));
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%);
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%);
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%);
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%);
}
.nbs-flexisel-item {
    float:left; 
}
.nbs-flexisel-item div {
    width: 100%;
}*/
.news_bg{
	position:relative;
	width:100%;
	background:#FFF;
	margin-top:45px;
	padding-bottom:50px;
}
.news_silde_item_bg{
	background:rgba(234,246,247,1.00);
	padding:0 !important;	
	display: flex;
	align-items: stretch;
	flex-wrap:wrap
}
.news_silde_item_bg img
{
    float: left;
	width:100%;
	height:100%;
	object-fit: cover;	
}
.news_item_bg{
	position:relative;
	float:left;
	/*background:rgba(228,179,180,1.00);*/
	padding:0 !important;
	margin-top:15px;
}
.no_padding_right{
	/*background:rgba(244,232,232,1.00);*/
	padding:0 !important;
}
.news_sub_item_bg{
	position:relative;
	float:left;
	overflow:hidden;
	padding-right:0 !important;
	/*background:rgba(232,229,243,1.00);*/
	margin-top:15px;
}
.news_sub_item_bg img
{
    float: left;
	height: 100%;
	width:auto;
}
.news_item_title {
	position:absolute;
	width: 100%;
	height: 50px;
	bottom:0;
	font-size:13px;
	line-height:16px;
	font-family: 'gillsansregular';
	/*text-transform: capitalize;*/
	padding:0 26px 3px 12px;
    color: #fff;
	/*background: rgba(0,102,179,0.90);		 */
	background: #FDD122;
	display:-moz-box;
	-moz-box-align:center;
	display:-webkit-box;
	-webkit-box-align:center;
	display:box;
	box-align:center;
}
.news_item_title:hover
{
    color: #fff;
    text-shadow: 0px 0px 1px rgb(255,255,255);
}
/*.news_item_bg .news_item_title{
	font-size:14px;
	
}*/
/*.news_item_title span{
	position:absolute;
	top:0;
	bottom:0;
	margin-top:0;
	margin-bottom:0;
	margin-left:15px;
	margin-right:15px;
}*/
/*.news_item_title_left{
	width: 100%;
	height: 50px;
	padding-top:0;
	bottom:0;
}
.news_item_img_right a{
	position:absolute;
	font-size:13px;
	font-family: 'gillsansregular';
	text-transform: capitalize;
	padding: 0 0 0 18px;
	background: rgba(0,102,179,0.68);
	
}*/
/*.news_item_title{
	
}*/
.title_home{
	float:left;
	color:#333333;
	font-size:24px;
	font-family: 'gillsansregular';
	text-transform: uppercase;
	/*margin: 30px 0 0 0;*/
	padding: 0 0 5px 0;
	border-bottom: 2px solid #FDD122;
}
a.title_home:hover {
    color: #0066B3;
}
.split_bar_news_top{
	float:left;
	width: 80%;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom:8px;
}
.split_bar_news_bottom{
	float:left;
	width: 80%;
	border-bottom: 1px solid #EEEEEE;
	margin-top: 26px;
}
.split_bar_news_bottom.project{
	margin-top: 26px;
    /*border: none;*/
}
.split_bar_page_bottom{
	float:left;
	width: 80%;
	border-bottom: 1px solid #EEEEEE;
    margin-top: 28px;
}
/*.news_item_bg{
	float:left;
	margin: 25px 0 0 0;
}
.margin_left{
	margin-left:15px;
}
.margin_top{
	margin-top:15px;
}*/

.news_carousel{
	position:absolute;
	right:15px;
	width:86px;
	height:18px;
	margin-top:-9px;
	background-color:#fff;	
}
.carousel_background{
    background-color:#F9F9F9;
}
.news_carousel.project
{
    width:52px;
    background: #f9f9f9;
}
.news_carousel_prev{
	position:relative;
	float:left;
	width:18px;
	height:18px;
	background:url(../images/Icons/news_carousel_prev.png) no-repeat 0 0;
	margin-left:8px;
}
.news_carousel_prev:hover{
	background-position: 0 -18px;
}
.news_carousel_prev:active{
	background-position: 0 -36px;
}
.news_carousel_next{
	position:relative;
	float:right;
	width:18px;
	height:18px;
	background:url(../images/Icons/news_carousel_next.png) no-repeat 0 0;
}
.news_carousel_next:hover{
	background-position: 0 -18px;
}
.news_carousel_next:active{
	background-position: 0 -36px;
}
.page_title_bg{
	float:left;
	width:100%;
	border-bottom: 1px solid #EEEEEE;
}
/*=============================================Footer Panel=============================================*/
.footer_bg{
	position:relative;
	background:#F9F9F9;
	color:#666;
	text-shadow:0 0 1px rgba(102,102,102,0.2);
	padding-bottom: 6px;
}
.footer_info{
	float:left;
	margin-top:16px;
}
.footer_info_title{
	position:relative;
	font-size:14px;
	font-family: 'gillsansregular';
	text-shadow:0 0 1px rgba(102,102,102,0.3);
	/*font-weight:bold;*/
	color: #666;
    text-transform: uppercase;
}
.footer_info_title:hover{
	color: #666;
}
.footer_info_title span{
	position:absolute;
	width:18px;
	height:18px;
	background:url(../images/Icons/location.png) 0 -14px no-repeat;
	border:2px solid #666;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	margin:1px 0 0 6px;
}
.footer_info_title:hover span{
	background-position:0 0;
	-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.footer_info_content{
	position:relative;
	font-size:13px;
	font-family: 'gillsansregular';
	margin-top:2px;
	color: #666;
}
.footer_menu{
	margin-top:17px;
	text-align:right;
	line-height:22px;
}
.footer_menu a{
	/*float:right;*/
	/*width:100%;*/
	text-align:right;
	font-size:12px;
	font-family: 'gillsansregular';
	text-transform: uppercase;
	color: #666;
	border-bottom:1px dotted rgba(238,238,238,0) !important;
}
.footer_menu a:hover{	
	/*text-shadow: 0px 0px 1px #666;*/
	color:#666;
	border-bottom:1px dotted #666 !important;
}
.footer_partner{
	position:relative;
	height:60px;
	background:#FFF;
	margin-top:15px;
}
.partner_title_bg{
	float:left;
	height:60px;
	padding-right:18px;
	padding-top:18px;
	margin-right:38px;
	font-size:15px;
	text-transform:uppercase;
	text-shadow: 0px 0px 1px rgba(102,102,102,0.3);
	color:#666;	
	font-family: 'gillsansregular';
	border-right:3px solid #f9f9f9;
}
.partner_bg{
	margin:8px 0 0 0;
	height:50px;
	overflow:hidden;	
}
.partner_bg li{
	float:left;
	/*width:190px;*/
	/*margin:0 16px;*/
	text-align:center;	
}
.partner_bg img{
	opacity:0.5;
	max-width:190px;
	max-height:42px;
}
.partner_bg img:hover{
	opacity:1;	
	-webkit-transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}
.copy_right{
	float:left;
	margin-top:7px;
	font-size:10px;
	color:#9FA5A5;
	/*text-shadow:0 0 1px rgba(21,72,106,0.1);*/
}
.copy_right a, .copy_right span, .datxanh_group a{
	/*color:#14476A;
	text-shadow:0 0 1px rgba(21,72,106,0.3);*/
	color:#666;
	/*text-shadow:0 0 1px rgba(255,255,255,1);*/
}
.copy_right a:hover, .datxanh_group a:hover{
	color:#666;
	border-bottom:1px dotted #666;	
}
.copy_right div {
    display: inline-block;
}
.datxanh_group	
{
    float:right;
    text-align: right;
	margin-top:7px;
	font-size:11px;
	color:#9FA5A5;
	text-transform: uppercase;
}
.to_top_btn{
	position:fixed;
	width:32px;
	height:32px;
	right:18px;
	bottom:18px;
	background:url(../images/Icons/to_top_btn.png) no-repeat;	
	display:none;
	/*-webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;*/
}
.to_top_btn:hover{
	background-position:0px -32px;
}
.video_bg
{
    position: relative;    
    width: 640px;
    height: 360px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 18px;
}

@media (max-width: 768px){
	
	.project_item_img img{
		height: 350px;
	}
}
@media (max-width: 576px){
	
	.project_item_img img{
		height: 260px;
	}
}


.form-format{
	border: 1px solid #ddd;
	border-radius: 0!important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 28px;
	font-size: 13px;
	font: 13px/20px 'Arial';
	margin: 0px 0 10px;
}
.form-format-content{
	border: 1px solid #ddd;
	border-radius: 0!important;
	box-sizing: border-box;
	
	font-size: 13px;
	font: 13px/20px 'Arial';
}
.form-submit{
	width: 100%;
	height: 32px;
	font-size: 14px!important;
    background: #0066B3!important;
	color: #fff!important;
	transition: all 200ms linear;
}
.form-submit:hover{
	color: #fff!important;
    background: #00AEEF!important;
}
